In [63]:
import pandas as pd

In [64]:
def display_dealership_info(dealerships):
    data = []
    for i in dealerships:
        data.append(i.get_data_cleaned())
    data_frame = pd.DataFrame(data)
    return data_frame

In [100]:
def display_cars(dealership):
    data = []
    for i in dealership.cars:
        data.append(i.get_data_cleaned())
    data_frame = pd.DataFrame(data)
    index = data_frame.index
    index.name = dealership.name
    return data_frame

In [88]:
# The idea is that I have multiple car dealerships and I sell different cars (I love v8s!)
# The entities will be DEALEARSHIP (Name, Address, Cars (this will be a seperate class), and the daily sale)
# And the CAR class will simply have Brand, Name of model, Year of make, and the Price
#

# Firstly the CAR Class; The input string is of the format ("Lamborghini;Huracan;2016;236_000")
# Can't have the data featuring in these class since its a pretty simple class. I'll include that in the Dealership class
class Car:
    def __init__(self):
        self.make = ""
        self.model = ""
        self.year = None
        self.price = 0
    def data_extraction(self, form):
        self.make = form.split(";")[0]
        self.model = form.split(";")[1]
        self.year = form.split(";")[2]
        self.price = float(form.split(";")[3])
    def get_data_cleaned(self):
        return {"Make": self.make, "Model": self.model, "Year": self.year, "Price": self.price}
    
    def set_price(self, price):
        self.price = price

# Dealearship Class
class Dealership:
    def __init__(self):
        self.name = ""
        self.cars = []
        self.capacity = 0
        self.address = ""
        self.daily_sale = 0
        self.postcode = ""
    # form format is ("AutoShop27; 10 bis Rue Charles V Paris 75004; 33 (this number denotes the max capacity 
    # of cars that can be accomodated)")
    def data_extraction(self, form):
        self.name = form.split(";")[0]
        self.address = form.split(";")[1]
        self.capacity = int(form.split(";")[2])
    def get_data_cleaned(self):
        return {
            "Dealership Name" : self.name,
            "Address" : self.address,
            "Capacity left" : self.capacity - len(self.cars),
            "Cars" : len(self.cars),
            "Sale Today" : self.daily_sale
        }
    def data_feature():
        self.postcode = self.address.split()[-1]
    def set_name(name):
        self.name = name
    def set_capacity(capacity): # Since we might scale up sometime, maybe get the building next to it
        self.capacity = capacity
    
    
    # Now business actions
    # selling a car
    def sell_car(self,required_car):
        #initializing a dummy boolean to false to find if the car is actually available in the dealership
        car_available = False
        for car in self.cars:
            # Since we cant compare objects directly, we will have to go by name and other attributes. 
            # I would prefer a primary key in a real life scenario but that requires a database and a reference to the product
            if(car.make == required_car.make and car.model == required_car.model and car.year == required_car.year and car.price == required_car.price):
                car_available = True
                self.daily_sale = self.daily_sale + car.price
                self.cars.remove(car)
                
        if(car_available == False):
            print("Car is not availabe at " + self.name)
        else:
            print("Car Sold!")
    # increasing inventory    
    def store_car(self,car):
        if(len(self.cars) < self.capacity):
            self.cars.append(car)
            print(car.model + " stocked at " + self.name)
        else:
            print(self.name + " dealership capacity reached!")

In [89]:
# Testing 
autoscout24 = Dealership()
autoscout24.data_extraction("AutoScout24; 10 bis Rue Charles V Paris 75004; 5")
topgear = Dealership()
topgear.data_extraction("Top Gear; 08 Impasse Marceau Argenteuil 95100; 4")
superwheels = Dealership()
superwheels.data_extraction("Super Wheels; 06 Rue de Romero Argenteuil 95100; 3")

dealerships = [autoscout24,topgear,superwheels]

In [90]:
# Fun part, the cars
# lets build up our inventory first
cars = []
cars.append(Car())
cars[0].data_extraction("Lamborghini;Huracan;2016;236_000")
cars.append(Car())
cars[1].data_extraction("Porsche;Cayenne;2020;143_000")
cars.append(Car())
cars[2].data_extraction("Mercedez-Benz;C63;2022;95_000")
cars.append(Car())
cars[3].data_extraction("Lamborghini;Aventador;2019;343_000")
cars.append(Car())
cars[4].data_extraction("Ferrari;458 Italia;2018;249_000")
cars.append(Car())
cars[5].data_extraction("Ford;Mustang;2019;48_000")
cars.append(Car())
cars[6].data_extraction("Ferrari;La Ferrari;2018;1_236_000")
cars.append(Car())
cars[7].data_extraction("Lamborghini;Gallardo;2010;330_000")
cars.append(Car())
cars[8].data_extraction("Koenigsegg;CCX;2016;1_336_000")
cars.append(Car())
cars[9].data_extraction("Koenigsegg;Agera;2020;1_005_000")
cars.append(Car())
cars[10].data_extraction("Toyota;Supra;2002;58_000")
cars.append(Car())
cars[11].data_extraction("Renault;Clio;2022;21_000") # :)

In [91]:
for car in cars:
    for dealership in dealerships:
        car_stored = dealership.store_car(car)
        if(car_stored == True):
            break

Huracan stocked at AutoScout24
Huracan stocked at Top Gear
Huracan stocked at Super Wheels
Cayenne stocked at AutoScout24
Cayenne stocked at Top Gear
Cayenne stocked at Super Wheels
C63 stocked at AutoScout24
C63 stocked at Top Gear
C63 stocked at Super Wheels
Aventador stocked at AutoScout24
Aventador stocked at Top Gear
Super Wheels dealership capacity reached!
458 Italia stocked at AutoScout24
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!
AutoScout24 dealership capacity reached!
Top Gear dealership capacity reached!
Super Wheels dealership capacity reached!

In [92]:
dealerships[0].get_data_cleaned()

{'Dealership Name': 'AutoScout24',
 'Address': ' 10 bis Rue Charles V Paris 75004',
 'Capacity left': 0,
 'Cars': 5,
 'Sale Today': 0}

In [101]:
display_cars(dealerships[0])

                      Make       Model  Year     Price
AutoScout24
0              Lamborghini     Huracan  2016  236000.0
1                  Porsche     Cayenne  2020  143000.0
2            Mercedez-Benz         C63  2022   95000.0
3              Lamborghini   Aventador  2019  343000.0
4                  Ferrari  458 Italia  2018  249000.0

In [102]:
sell_lambo = Car()
sell_lambo.data_extraction("Lamborghini;Aventador;2019;343000")
dealerships[0].sell_car(sell_lambo)

Car Sold!

In [104]:
display_dealership_info(dealerships)

,Dealership Name,Address,Capacity left,Cars,Sale Today
0,AutoScout24,10 bis Rue Charles V Paris 75004,1,4,343000.0
1,Top Gear,08 Impasse Marceau Argenteuil 95100,0,4,0.0
2,Super Wheels,06 Rue de Romero Argenteuil 95100,0,3,0.0

In [56]:
add_bmw = Car()
add_bmw.data_extraction("BMW;M3;2022;58000")
storing = dealerships[2].store_car(add_bmw)
if storing == True:
    print("Car successfully stocked")
else:
    print("No space left at this dealership to stock another car")

No space left at this dealership to stock another car